@charset "UTF-8";
body, html {
    background: #fff;
!important;
}

.wrap .main .topImg {
    widht: 100%;
}

.wrap .main .news .newsTop h3 {
    font-size: 130%;
    padding-top: 10%;
    text-align: center;
    line-height: 20px;
}

.wrap .main .news .newsTop h3 span {
    font-size: 12px;
}

.wrap .main .news .news1, .wrap .main .news .news2, .wrap .main .news .news3 {
    background: #eee;
    width: 95%;
    height: 250px;
    margin-top: 10%;

}

.wrap .main .news .news1 h3 {
    color: #eec507;
}

.wrap .main .news .news1 img, .wrap .main .news .news2 img, .wrap .main .news .news3 img {
    padding: 8px;

}
.wrap .main .news .news1 h3, .wrap .main .news .news2 h3, .wrap .main .news .news3 h3{
     font-size:120%;
    padding:10px 0;

 }


.wordWrap {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 88%;
    overflow: hidden;
    float: left;
}

/*foot*/
.wrap .main .footHr {
    margin: 30px 0;
    text-align: center;
}

.wrap .main .footHr button {
    border: 1px solid #5892c7;
    border-radius: 5px;
    line-height: 28px;
    width: 30%;
    background: none;
}

.wrap .main ol {
    padding: 20px 2%;
}

